{% load compress %}
{% load static %}

<!doctype html>
<html class="scroll-smooth" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Jadelyn Drake</title>

    


    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    {% compress css %}
        <link rel="stylesheet" href="{% static 'src/output.css' %}">
        <link rel="stylesheet" href="{% static 'stickynav.css' %}"/>
    {% endcompress %}

</head>
<body class="bg-Nyanza">

    {# header stuff #}
    {% block header %}
    {% endblock %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="bg-black text-Sage py-4">
        <div class="container mx-auto">
            <div class="text-center">
                <span class="text-lg">Website created by Brenden Moore & Anthony Lopez &copy; 2024</span>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="{% static 'js/stickynav.js' %}"></script>
    <script src="{% static 'js/fade-in.js' %}"></script>
</body>
</html>