{% extends 'base.html' %}
{#{% load static %}#}

{% block header %}
    <header id="header" style="height: 4.5rem">
        <nav class="tabs-container top-0">
            <a href="{% url 'home' %}" class="">Home</a>
            <a href="{% url 'portfolio' %}" class="">Portfolio</a>
            <a href="{% url 'contact' %}" class="">Contact</a>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white">Contact Me</h2>
            <p class="mb-8 lg:mb-16 font-light text-center text-gray-500 dark:text-gray-400 sm:text-xl">Let's Create Together! <br><br> Whether you're looking for a custom piece, a collaboration opportunity, or simply want to say hello. I can't wait to hear from you!</p>
            <form method="post" action="." class="space-y-8">
                {% csrf_token %}
                <div class="flex space-x-4">
                    <div class="flex flex-col flex-auto">
                        <label for="id_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">First Name</label>
                        <input type="text" id="id_name" name="name"
                               class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                               placeholder="John" required>
                    </div>
                    <div class="flex flex-col flex-auto">
                        <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Email</label>
                        <input type="email" id="id_email" name="email"
                               class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light"
                               placeholder="john.doe@email.com" required>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <label for="id_message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                    <textarea id="id_message" name="message" rows="3"
                              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                              placeholder="Leave a message..." maxlength="300"></textarea>
                </div>
                <button type="submit"
                        class="py-3 px-5 text-sm font-medium text-center text-black rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Send message
                </button>
            </form>
        </div>
    </section>
{% endblock %}