{% extends 'base.html' %}

{% block header %}
    <header id="header">
        <h1 class="name text-Blackolive text-9xl" id="fade-in-text">Jadelyn Drake</h1>
        <p class="title text-Blackolive text-6xl mt-2" id="fade-in-textp">Artist</p>
         <nav class="tabs-container">
            <a href="{% url 'home' %}" class="">Home</a>
            <a href="{% url 'portfolio' %}" class="">Portfolio</a>
            <a href="{% url 'contact' %}" class="tab">Contact</a>
        </nav>
    </header>
{% endblock %}

{% block content %}

    <section class="m-20 text-Dimgray">
        <div class="flex space-x-16">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.</p>
            <img class="rounded-lg" src="https://fakeimg.pl/350x350?text=Headshot">
        </div>

    </section>

    <section class="m-20 text-Dimgray">
        <div class="flex flex-col space-y-8">
            <div>
                <h2 class="text-center">School Info</h2>
                <p class="mt-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.
                </p>

            </div>
            <div>
                <h3 class="text-center">Mediums</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.
                </p>
            </div>
        </div>
    </section>

{% endblock content %}
