{% extends 'base.html' %}
{% load static %}

{% block home_header %}
    <header id="header">
        <h1 class="name text-Dimgray text-9xl" id="fade-in-text">Jadelyn Drake</h1>
        <p class="title text-Dimgray text-6xl mt-2" id="fade-in-textp">Artist</p>
         <nav class="tabs-container">
            <a href="{% url 'home' %}" class="">Home</a>
            <a href="{% url 'portfolio' %}" class="">Portfolio</a>
            <a href="{% url 'contact' %}" class="tab">Contact</a>
        </nav>
    </header>
{% endblock %}

{% block content %}

    <section class="m-20 text-black">
        <h2 id='about' class="title text-5xl">About Me</h2>
            {#        <h1 id='about' class="title text-center text-4xl py-6">About Me</h1>#}
            {#        <img class="my-auto w-96 rounded-3xl border-white" src="static/images/AnthonyLopez.jpg" alt="AnthonyLopez">#}
            <div class="flex justify-between m-2 w-full">
                <p class="mt-10 w-8/12 leading-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.</p>
                <img class="{# flex-auto #} w-96 my-auto rounded-3xl"
                     src="https://fakeimg.pl/350x350?text=Headshot"
                     alt="Jadelyn Drake">
            </div>
    </section>

    <section class="text-black">
        <div class="flex flex-col space-y-8 ">
            <div class="text-white bg-black">
                <div class="p-20">
                    <h2 class="title text-5xl">School Info</h2>
                    <p class="mt-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.
                    </p>

                </div>

            </div>
            <div class="m-20">
                <h2 class="title text-5xl">Mediums</h2>
                <p class="mt-10 mb-20">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mi bibendum neque egestas congue quisque. Rhoncus dolor purus non enim praesent elementum. Sed viverra ipsum nunc aliquet bibendum enim facilisis. Egestas congue quisque egestas diam. Ultrices dui sapien eget mi proin sed libero enim. Facilisis leo vel fringilla est ullamcorper eget. Sagittis id consectetur purus ut faucibus pulvinar elementum integer enim. Viverra tellus in hac habitasse platea dictumst vestibulum. Sit amet porttitor eget dolor morbi non. Urna condimentum mattis pellentesque id. Tincidunt vitae semper quis lectus nulla at volutpat. Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Enim praesent elementum facilisis leo. Consectetur adipiscing elit ut aliquam purus sit amet luctus.
                </p>
            </div>
        </div>
    </section>

{% endblock content %}

{% block script %}
    <script src="{% static 'js/stickynav.js' %}"></script>
    <script src="{% static 'js/fade-in.js' %}"></script>
{% endblock %}
