{% extends 'base.html' %}
{% load static %}

{% block header %}
    <header id="header" style="height: 5rem" >
         <nav class="tabs-container top-0 h-0">
            <a href="{% url 'home' %}" class="">Home</a>
            <a href="{% url 'portfolio' %}" class="">Portfolio</a>
            <a href="{% url 'contact' %}" class="">Contact</a>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>

{#    <div class="list-wrapper">#}
{#      <ul class="list">#}
{#        <li class="item"><div class="content">#}
            {#Alone with you#}
{#            <div class="container mx-auto" id="#top">#}
{#                <div class="flex justify-center items-center">#}
{#                    <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                        <button data-modal-target="alone" data-modal-toggle="alone" type="button">#}
{#                            <img src="{% static 'images/alone.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div></li>#}
{#        <li class="item"><div class="content">#}
            {#Fishy Buisness#}
{#            <div class="container mx-auto">#}
{#                <div class="flex justify-center items-center">#}
{#                    <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                        <button data-modal-target="fish" data-modal-toggle="fish" type="button" class="w-full mt-6 h-5/6">#}
{#                            <img src="{% static 'images/fish.jpg'%}" alt="Fishy Business image" class="w-full h-1/2 shadow-lg">#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div></li>#}
{#        <li class="item"><div class="content">#}
            {#Project Dark#}
{#            <div class="container mx-auto">#}
{#                <div class="flex justify-center items-center">#}
{#                    <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                        <button data-modal-target="pdark" data-modal-toggle="pdark" type="button" class="w-full mt-6 h-5/6">#}
{#                            <img src="{% static 'images/pdark.jpg'%}" alt="Project Dark image" class="w-full h-1/2 shadow-lg">#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div></li>#}
{#        <li class="item"><div class="content">#}
            {#Red drake#}
{#            <div class="container mx-auto">#}
{#                <div class="flex justify-center items-center">#}
{#                    <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                        <button data-modal-target="drake" data-modal-toggle="drake" type="button" class="w-full mt-6 h-5/6">#}
{#                            <img src="{% static 'images/drake.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div></li>#}
{#        <li class="item"><div class="content">#}
            {#Stuck in the corner#}
{#            <div class="container mx-auto">#}
{#                <div class="flex justify-center items-center">#}
{#                    <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                        <button data-modal-target="stuck" data-modal-toggle="stuck" type="button" class="w-full mt-6 h-5/6">#}
{#                            <img src="{% static 'images/stuck.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div></li>#}
{#      </ul>#}
{#      <!-- We're calling `handleClick` with a direction argument when the buttons are clicked -->#}
{#      <button onclick="handleClick('previous')" class="button button--previous" type="button">➜</button>#}
{#      <button onclick="handleClick('next')" class="button button--next" type="button">➜</button>#}
{#        <div class="container mx-auto" id="#top">#}
{#            <div class="flex justify-center items-center">#}
{#                <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">#}
{#                    <h1 class="text-black text-xl font-bold pt-2">Alone with You</h1>#}
{#                    <h2 class="text-black text-md sm:text-md font-bold">2023, 18" x 15" x 9 1/8"</h2>#}
{#                    <h2 class="text-black text-md sm:text-md font-bold pt-3">(Wood, Air-dry Clay, Photo Prints)</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#    <script>#}
{#      const list = document.querySelector(".list");#}
{##}
{#      // We want to know the width of one of the items. We'll use this to decide how many pixels we want our carousel to scroll.#}
{#      const item = document.querySelector(".item");#}
{#      const itemWidth = item.offsetWidth;#}
{##}
{#      function handleClick(direction) {#}
{#        // Based on the direction we call `scrollBy` with the item width we got earlier#}
{#        if(direction === "previous") {#}
{#          list.scrollBy({ left: -itemWidth, behavior: "smooth" });#}
{#        } else {#}
{#          list.scrollBy({ left: itemWidth, behavior: "smooth" });#}
{#        }#}
{#      }#}
{#    </script>#}


    {#Alone with you#}
    <div class="container mx-auto" id="#top">
        <div class="flex justify-center items-center">
            <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="alone" data-modal-toggle="alone" type="button">
                    <img src="{% static 'images/alone.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">
                </button>
                <h1 class="text-black text-xl font-bold pt-2">Alone with You</h1>
                <h2 class="text-black text-md sm:text-md font-bold">2023, 18" x 15" x 9 1/8"</h2>
                <h2 class="text-black text-md sm:text-md font-bold pt-3">(Wood, Air-dry Clay, Photo Prints)</h2>
            </div>
        </div>
    </div>


    {#Fishy Buisness#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center">
            <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="fish" data-modal-toggle="fish" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/fish.jpg'%}" alt="Fishy Business image" class="w-full h-1/2 shadow-lg">
                </button>
                <h1 class="text-black text-xl font-bold pt-2">Fishy Business</h1>
                <h2 class="text-black text-md sm:text-md font-bold">2024, 12" x 8"</h2>
                <h2 class="text-black text-md sm:text-md font-bold pt-3">(Intaglio Print on Stonehenge)</h2>
            </div>
        </div>
    </div>


    {#Project Dark#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center">
            <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="pdark" data-modal-toggle="pdark" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/pdark.jpg'%}" alt="Project Dark image" class="w-full h-1/2 shadow-lg">
                </button>
                <h1 class="text-black text-xl font-bold pt-2">Project Dark</h1>
                <h2 class="text-black text-md sm:text-md font-bold">2024, 70” x 40"</h2>
                <h2 class="text-black text-md sm:text-md font-bold pt-3">(Projection, Alcohol Marker on Paper)</h2>
            </div>
        </div>
    </div>


    {#Red drake#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center">
            <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="drake" data-modal-toggle="drake" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/drake.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">
                </button>
                <h1 class="text-black text-lg sm:text-md font-bold pt-2">Bakunawas Escape</h1>
                <h2 class="text-black text-md sm:text-md font-bold">2024, ~70" x 20"</h2>
                <h2 class="text-black text-md sm:text-md font-bold pt-3">(Acrylic on Butcher Paper)</h2>
            </div>
        </div>
    </div>


    {#Stuck in the corner#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center">
            <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="stuck" data-modal-toggle="stuck" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/stuck.jpg'%}" alt="Alone with you image" class="w-full shadow-lg">
                </button>
                <h1 class="text-black text-xl font-bold pt-2">Stuck in the corner</h1>
                <h2 class="text-black text-md sm:text-md font-bold">2023 4" x 8.5"</h2>
                <h2 class="text-black text-md sm:text-md font-bold pt-3">(Found Objects, Airdry Clay, Digital Print)</h2>
            </div>
        </div>
    </div>


    {#Sword fish#}
    <div class="container mx-auto">
        <div class="container mx-auto">
            <div class="flex justify-center items-center">
                <div class="p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                    <div class="flex justify-between">
                        <button data-modal-target="sfish1" data-modal-toggle="sfish1" type="button" class="w-1/2 mt-6 mr-2">
                            <img src="{% static 'images/swordfishside.jpg'%}" alt="Swordfish Side Image" class="w-full h-80 shadow-lg">
                        </button>
                        <button data-modal-target="sfish2" data-modal-toggle="sfish2" type="button" class="w-1/2 mt-6 ml-2">
                            <img src="{% static 'images/swordfishtop.jpg'%}" alt="Swordfish Top Image" class="w-full h-80 shadow-lg">
                        </button>
                    </div>
                    <h1 class="text-black text-xl font-bold pt-2">Sword Fish</h1>
                    <h2 class="text-black text-md sm:text-md font-bold">2023, 20" x 3"</h2>
                    <h2 class="text-black text-md sm:text-md font-bold pt-3">(Metal and Wood)</h2>
                </div>
            </div>
        </div>
    </div>


    {#Button#}
    <div class="flex justify-end">
        <button class="bg-white hover:bg-gray-300 border-2 border-black font-medium rounded-lg text-sm m-4" type="button">
            <a href="#top">
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAABVklEQVR4nO2ZLUsEURSGHxWVFQTBIlgs1o0mm8VFLf4M/4Blf4DNbSabYNIimAwGi81iEXT9YpNgEMvCssvAvTDI2XEsM++V88Ap9549c14emAkLTmn2gQMSZgI4BIahjoBJEmMGOM2FiHUOzJIIc8ClESLWFTCPOAvATUGIWLfAIqIsAXclQsS6B5YRYwV4+EOIWF1gFRGaQM9Y8rrkWS/MqJU14MNY7gJoGOfZG+vMOP8E1usKsQF8GUudANOh5+ddxhRwbNx9A62qQ2wDfWOZTvgQUhCE0NMx7vthdmW8GEu0jb5xQSJto+eZCnnPPXgA7I3p+y0I4beDXM8bFbIDvAKPwG5BX5kghBnZrGzmFoKUDSLP0IOI4UbUcCNquBE13IgabkQNN6KGG1HDjajhRtRwI2q4ETXciBpuRA03osa/MdLNhXgiYVrhr7SsNutehhQYAThhHKHaT49hAAAAAElFTkSuQmCC">
            </a>
        </button>
    </div>


    {#! Modals below !#}


    {#Alone modal#}
    <div id="alone" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/alone.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Pdark modal#}
    <div id="pdark" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/pdark.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Fish modal#}
    <div id="fish" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/fish.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <!-- Red drake modal -->
    <div id="drake" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/drake.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <!-- Stuck in the corner modal -->
    <div id="stuck" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/stuck.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <!-- sword fish side modal -->
    <div id="sfish1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/swordfishside.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <!-- sword fish top modal -->
    <div id="sfish2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/swordfishtop.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full shadow-lg">
                </div>
            </div>
        </div>
    </div>

    </main>
{% endblock content %}
