{% extends 'base.html' %}
{% load static %}

{% block header %}
    {#    <header>#}
    {#        <nav class="bg-Blackolive">#}
    {#            <div class="mx-auto flex items-center justify-between py-4">#}
    {##}
    {#                <div class="flex items-center pl-5">#}
    {#                    <img src="" alt="Profile Image" class="h-16 w-16 rounded-full mr-4 border-4 border-black">#}
    {#                    <h1 class="text-white font-bold text-xl">Portfolio</h1>#}
    {#                </div>#}
    {##}
    {#                <!-- Navigation Links -->#}
    {#                <div class="flex bg-black rounded-l-full over pl-5 pr-12">#}
    {#                    <a href="{% url 'home' %}" class="text-gray-300 hover:text-white px-6 py-3">Home</a>#}
    {#                    <a href="{% url 'portfolio' %}" class="text-gray-300 hover:text-white px-6 py-3">Portfolio</a>#}
    {#                    <a href="{% url 'contact' %}" class="text-gray-300 hover:text-white px-6 py-3">Contact</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </nav>#}
    {#    </header>#}

        <header id="header" style="height: 0" >
{#        <h1 class="name text-Dimgray text-9xl">Jadelyn Drake</h1>#}
{#        <p class="title text-Dimgray text-6xl mt-2">Artist</p>#}
         <nav class="tabs-container top-0 h-0">
            <a href="{% url 'home' %}" class="">Home</a>
            <a href="{% url 'portfolio' %}" class="">Portfolio</a>
            <a href="{% url 'contact' %}" class="">Contact</a>
        </nav>
    </header>
{% endblock %}

{% block content %}
    <main>

    {#Alone with you#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center mt-8">
            <div class="bg-black bg-opacity-80 p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="alone" data-modal-toggle="alone" type="button"><img src="{% static 'images/alone.jpg'%}" alt="Alone with you image" class="w-full rounded-3xl shadow-lg"></button>
                <h1 class="text-center text-white text-3xl font-bold pt-3">| Alone with You |</h1>
            </div>
        </div>

        <div class="bg-white rounded-3xl mt-6 p-6 md:p-8 lg:p-10">
            <p class="text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                Phasellus nec justo vel nulla volutpat aliquet.
            </p>
        </div>
    </div>

    <!-- Alone modal -->
    <div id="alone" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/alone.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 pt-10">
            <!-- Fishy Business -->
            <div class="bg-black bg-opacity-80 p-8 md:p-12 rounded-3xl">
                <h1 class="text-center text-white text-3xl font-bold">| Fishy Business |</h1>
                <button data-modal-target="fish" data-modal-toggle="fish" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/fish.jpg'%}" alt="Fishy Business image" class="w-full h-full rounded-3xl shadow-lg">
                </button>
            </div>

            <!-- Project Dark -->
            <div class="bg-black bg-opacity-80 p-8 md:p-12 rounded-3xl">
                <h1 class="text-center text-white text-3xl font-bold">| Project Dark |</h1>
                <button data-modal-target="pdark" data-modal-toggle="pdark" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/pdark.jpg'%}" alt="Project Dark image" class="w-full h-full rounded-3xl shadow-lg">
                </button>
            </div>



            <!-- Lorem Ipsum for Fishy Business -->
            <div class="bg-white rounded-3xl p-6 md:p-8">
                <p class="text-gray-700">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                    finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                    lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                    Phasellus nec justo vel nulla volutpat aliquet.
                </p>
            </div>

            <!-- Lorem Ipsum for Project Dark -->
            <div class="bg-white rounded-3xl p-6 md:p-8">
                <p class="text-gray-700">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                    finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                    lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                    Phasellus nec justo vel nulla volutpat aliquet.
                </p>
            </div>
        </div>
    </div>


    {#Pdark modal#}
    <div id="pdark" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/pdark.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Fish modal#}
    <div id="fish" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/fish.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Red drake#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center mt-8">
            <div class="bg-black bg-opacity-80 p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="drake" data-modal-toggle="drake" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/drake.jpg'%}" alt="Alone with you image" class="w-full rounded-3xl shadow-lg">
                </button>
                <h1 class="text-center text-white text-3xl font-bold pt-3">| Bakunawas Escape From The Red Drake |</h1>
            </div>
        </div>

        <div class="bg-white rounded-3xl mt-6 p-6 md:p-8 lg:p-10">
            <p class="text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                Phasellus nec justo vel nulla volutpat aliquet.
            </p>
        </div>
    </div>

    <!-- Red drake modal -->
    <div id="drake" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/drake.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Stuck in the corner#}
    <div class="container mx-auto">
        <div class="flex justify-center items-center mt-8">
            <div class="bg-black bg-opacity-80 p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                <button data-modal-target="stuck" data-modal-toggle="stuck" type="button" class="w-full mt-6 h-5/6">
                    <img src="{% static 'images/stuck.jpg'%}" alt="Alone with you image" class="w-full rounded-3xl shadow-lg">
                </button>
                <h1 class="text-center text-white text-3xl font-bold pt-3">| Stuck in the corner |</h1>
            </div>
        </div>

        <div class="bg-white rounded-3xl mt-6 p-6 md:p-8 lg:p-10">
            <p class="text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                Phasellus nec justo vel nulla volutpat aliquet.
            </p>
        </div>
    </div>

    <!-- Stuck in the corner modal -->
    <div id="stuck" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/stuck.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    {#Sword fish#}
    <div class="container mx-auto">
        <div class="container mx-auto">
            <div class="flex justify-center items-center mt-8">
                <div class="bg-black bg-opacity-80 p-8 md:p-12 w-full md:w-5/6 lg:w-2/3 rounded-3xl">
                    <div class="flex justify-between">
                        <button data-modal-target="sfish1" data-modal-toggle="sfish1" type="button" class="w-1/2 mt-6 mr-2">
                            <img src="{% static 'images/swordfishside.jpg'%}" alt="Swordfish Side Image" class="w-full h-80 rounded-3xl shadow-lg">
                        </button>
                        <button data-modal-target="sfish2" data-modal-toggle="sfish2" type="button" class="w-1/2 mt-6 ml-2">
                            <img src="{% static 'images/swordfishtop.jpg'%}" alt="Swordfish Top Image" class="w-full h-80 rounded-3xl shadow-lg">
                        </button>
                    </div>
                    <h1 class="text-center text-white text-3xl font-bold pt-3">| Sword Fish |</h1>
                </div>
            </div>
        </div>


        <div class="bg-white rounded-3xl mt-6 p-6 md:p-8 lg:p-10">
            <p class="text-gray-700">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor, nisi sit amet sollicitudin
                finibus, lorem ante volutpat nisi, eget ultricies nulla velit vitae neque. Sed et urna auctor, lobortis
                lectus sed, posuere justo. Integer congue tortor vel ligula tempus, sit amet efficitur libero vestibulum.
                Phasellus nec justo vel nulla volutpat aliquet.
            </p>
        </div>
    </div>

    <!-- sword fish side modal -->
    <div id="sfish1" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/swordfishside.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    <!-- sword fish top modal -->
    <div id="sfish2" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center w-full h-full">
        <div class="relative p-4 w-full max-w-3xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-black rounded-lg shadow">
                <div class="p-6 md:p-8">
                    <img src="{% static 'images/swordfishtop.jpg'%}" alt="Alone with you image" class="w-full h-auto md:h-full rounded-lg shadow-lg">
                </div>
            </div>
        </div>
    </div>

    </main>
{% endblock content %}
